version: "3.8"
services:
  mongodb:
    image: mongo:6.0
    container_name: my_mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet

  backend:
    image: kartikmehta/backend:latest
    container_name: backend_container
    restart: always
    environment:
      - MONGO_URL=mongodb://mongodb:27017/mydb
    depends_on:
      - mongodb
    networks:
      - appnet

  frontend:
    image: kartikmehta/frontend:latest
    container_name: frontend_container
    restart: always
    depends_on:
      - backend
    networks:
      - appnet

  nginx:
    image: nginx:alpine
    container_name: nginx_container
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - appnet

volumes:
  mongo_data:

networks:
  appnet:
    driver: bridge
